<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.psmart">

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PSMaRT"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".TestFingerPrint"
            android:exported="false" />
        <activity
            android:name=".DisplayActivity"
            android:exported="true" />

        <activity
            android:name=".FingerPrintRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ScanFingerPrintActivity"
            android:exported="true" />
        <activity
            android:name=".splash_screen"
            android:exported="true"
            android:theme="@style/Theme.PSMaRT.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".NewFaceActivity"
            android:exported="true"
            android:theme="@style/Theme.PSMaRT.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.login.ForgotPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.PSMaRT.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PSMaRT.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PSMaRT.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>